<!DOCTYPE html>
<html lang='en'>
    <head>

        <title>Fetpya</title>
        <link rel="stylesheet" href="navbar_styling.css">
        <link rel ="stylesheet" href="homepage_styling.css">

    </head>

    <body>
        <%-include('partials/global_sources/navigation_bar') %>
        <div class ="post_slide">
            <!-- input part-->
            
            <%-include('partials/global_sources/new_post') %>

            <!--post part-->

        </div>
        </div>
    </body>

</html>