<!DOCTYPE html>
<html lang='en'>
    <head>

        <title>Fetpya</title>
        <link rel ="stylesheet" href="general_styling.css">
        <link rel ="stylesheet" href="main.css">

    </head>

    <body>
            <div class = "friend_list">
                <h1>Friend List</h1>
                <ul>
                    <li>Friend</li>
                    <li>Friend</li>
                    <li>Friend</li>
                    <li>Friend</li>
                    <li>Friend</li>
                    <li>Friend</li>
                </ul>
            </div>
            <%-include('partials/global_sources/navigation_bar') %>

            <div class ="post_slide">
                <!-- input part-->

                <div class="new_post">
                    <div contenteditable="true">
                    </div>

                    <div class = "button">
                        Deliver
                    </div>
                </div>

                <!--post part-->
                <div class="post">
                    <div class = "name">Name</div>

                    <div class = "post_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                    
                    <div class = "likes_comments" >

                        <span><img src="like.png"></span>
                        <a href = ""><img src="comment.png"></a>
                    </div>

                    <div class = "date">delivered in 23/5/2045 at 20:44</div>
                </div>

                <div class="post">
                    <div class = "name">Name</div>

                    <div class = "post_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                    
                    <div class = "likes_comments" >

                        <span><img src="like.png"></span>
                        <a href = ""><img src="comment.png"></a>
                    </div>

                    <div class = "date">delivered in 23/5/2045 at 20:44</div>
                </div>

                <div class="post">
                    <div class = "name">Name</div>

                    <div class = "post_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                    
                    <div class = "likes_comments" >

                        <span><img src="like.png"></span>
                        <a href = ""><img src="comment.png"></a>
                    </div>

                    <div class = "date">delivered in 23/5/2045 at 20:44</div>
                </div>

                <div class="post">
                    <div class = "name">Name</div>

                    <div class = "post_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                    
                    <div class = "likes_comments" >

                        <span><img src="like.png"></span>
                        <a href = ""><img src="comment.png"></a>
                    </div>

                    <div class = "date">delivered in 23/5/2045 at 20:44</div>
                </div>

                <div class="post">
                    <div class = "name">Name</div>

                    <div class = "post_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                    
                    <div class = "likes_comments" >

                        <span><img src="like.png"></span>
                        <a href = ""><img src="comment.png"></a>
                    </div>

                    <div class = "date">delivered in 23/5/2045 at 20:44</div>
                </div>
            </div>
    </body>

</html>