.post_slide
{
    margin-left: 350px;
    height: 100%;
    width: 800px;
    border-width: 1px;
    border-color: lightgrey;
    padding: 50px;
    border-style: none solid solid solid;
}
.new_post
{
    height : auto;
    width : 700px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-width:   1px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
.new_post>div
{
    display: inline-block;
    line-break: auto;
    font-size: 30px;
    border-style: none;
    overflow: visible;
    outline: none;
}
.post
{

}